.background {
	display: flex; 
	flex-direction: column; 
	
	//width: 100%;
	//background-color: #000066;
	//background: linear-gradient(270deg,#000033 50%,#0000e6 100%);
	//background: -webkit-linear-gradient(270deg,#000033 50%,#0000e6 100%);
	//background: linear-gradient(to bottom,#000033 50%,#0000e6 100%);
	//background-image: linear-gradient(to bottom,#000033 50%,#0000e6 100%);
	
	background-image:
	radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 5px),
	radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 1px),
	radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 5px),
	radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 5px),
	radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 20px),
	radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 10px),
	linear-gradient(to bottom,#000033 57%,#0000e6 100%);
	
	background-size: 
	165px 165px,
	150px 150px,
	200px 200px,
	190px 190px,
	720px 700px,
	400px 400px,
	cover;
	
	background-position: 
	0px 0px,
	50px 90px,
	120px 23px,
	45px 133px,
	28px 50px,
	67px 30px;
}

.test1 {
	//background-image: linear-gradient(to bottom,#000033 50%,#0000e6 100%);
}

.test2 {
	//background-image:
	radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 10px),
	radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 5px),
	radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 10px),
	radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 5px);
}

.header {
	display: flex;
	
	padding: 10px;
	
	//height: 600px;
	//height: 100%
}

.header-alignment {
	display: flex;
	flex: 1;
	align-items: start;
}

.header-icon {
	height: 30px;
}

.about-me {	
	display: flex;
	flex-direction: row;
	
	align-items: end;
	justify-content: center;
	
	margin-top: 150px;
}

.about-me-frog-leg {
	width: 200px; 
	height: 350px; 
	background-color: #99ff66;
}

.about-me-frog-body {
	width: 700px; 
	height: 600px; 
	background-color: #99ff66;
}

.about-me-frog-body-content {
	display: flex;
	flex-direction: column; 
	align-items: center;
	justify-content: start;
	
	margin: 80px 50px 30px;
	height: 100%;
}
	
.about-me-frog-body-text {
	text-align: justify;
}

.my-stuff {
	display: flex;
	flex-direction: column; 
	align-items: center;
	//justify-content: center;
	
	background-color: #994d00;
}

.my-stuff-title {
	
}

.my-stuff-content-container {
	display: flex;
	flex-direction: row; 
	
	width: 80%;
}

.my-stuff-content {
	flex: 1;
	
	display: flex;
	justify-content: center;
	
	box-sizing: border-box;
	border-width: 2px;
	border-style: solid;
	border-color: black;
	
	margin: 10px;
	
	color: white;
}

.my-stuff-text {
	color: inherit; 
	text-decoration: none;
}