.background {
	display: flex; 
	flex-direction: column; 
	
	width: 100%;
	background-color: #99ffff;
}

.header {
	display: flex;
	
	padding: 10px;
	
	//height: 600px;
	//height: 100%
}

.header-alignment {
	display: flex;
	flex: 1;
	align-items: start;
}

.header-icon {
	height: 30px;
}

.about-me {
	//padding: 5px;
	
	display: flex;
	flex-direction: row; 
	
	//background-color: #99ff66;
	
	//width: 600px;
	
	align-items: end;
	justify-content: center;
	
	margin-top: 200px;
}

.about-me-frog-leg {
	width: 200px; 
	height: 350px; 
	background-color: #99ff66;
}

.about-me-frog-body {
	width: 700px; 
	height: 600px; 
	background-color: #99ff66;
}

.about-me-frog-body-content {
	display: flex;
	flex-direction: column; 
	align-items: center;
	justify-content: start;
	
	margin: 80px 50px 30px;
	height: 100%;
}
	
.about-me-frog-body-text {
	text-align: justify;
}